.mat-toolbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    .example-fill-remaining-space {
        flex: 1 1 auto;
    }
    .nav-button{
        box-sizing: border-box;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
        cursor: pointer;
        outline: 0;
        border: none;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        background-color: inherit;
        justify-content: center;
        align-items: center;
        transition: color 0.1s;
        &:hover {
            color: rgb(186, 214, 241);
        }
    }
    .more-vert-button {
        cursor: pointer;
        outline: none;
        border: none;
        color: #ffffff;
    }
    .index-home {
        
        margin: 0;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        > span {
            padding-left: 1rem;
        }
    }
    .nav-icon {
        margin: 0;
        min-width: 36px;
        line-height: 36px;
        padding: 16px 16px;
        border-radius: 4px;
        > span {
            padding-left: 1rem;
        }
    }
    .nav-sm{
        margin: 0;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
    }
}