<div class="calendar">
    <div class="cal-header">
        <button class="icon-button">
            <i class="material-icons">
                keyboard_arrow_left
            </i>
        </button>
        <div class="calendar-spacer"></div>
        <button class="date-select">
            12月
        </button>
        <div class="calendar-spacer"></div>
        <button class="icon-button">
            <i class="material-icons">
                keyboard_arrow_right
            </i>
        </button>
    </div>
    <div class="cal-container">
        <div class="week-list">
            <div class="week-item" *ngFor="let item of week">
                {{item.cnName}}
            </div>
        </div>
        <div class="date-list">
            <div class="date-item" *ngFor="let day of month"
            [ngClass]="{'selected': day.selected}">
                {{day.text}}
            </div>
        </div>
    </div>
</div>
